In [1]:
import pandas as pd
import numpy as np

# 1. Write a program that prints the numbers from 1 to N. 
But, for multiples of three,  print “Fizz” instead of the number and for the multiples of five print “Buzz”. 
For numbers which are multiples of both three and five print “FizzBuzz”.

Below is an example:

Input: N = 17
Output:
1,2,Fizz,4,Buzz,Fizz,7,8,Fizz,Buzz,11,Fizz,13,14,FizzBuzz,16,17

In [2]:
number = int(input('enter the last number: '))
i = 1
for i in range(i,number + 1): #giving the user desired range
    if ((i%3==0) & (i%5==0)):
        print('FizzBuzz')
    elif(i%3==0):
        print('Fizz')
        continue
    elif(i%5==0):
        print('Buzz')
        continue
    else:
        print(i)

enter the last number: 10
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

# 2.  Given an array print all the numbers that are repeating in it and the number of times they are repeating.

Below is an example:

Input: [1, 2, 3, 5, 8, 4, 7, 9, 1, 4, 12, 5, 6, 5, 2, 1, 0, 8, 1]
Output:
1 - 4
2 - 2
5 - 3
8 - 2
4 - 2

Note: The final order of output need not be the same as above. The number after the dash(-) is the repeating count

In [3]:
arr = [1, 2, 3, 5, 8, 4, 7, 9, 1, 4, 12, 5, 6, 5, 2, 1, 0, 8, 1]

In [4]:
arr

[1, 2, 3, 5, 8, 4, 7, 9, 1, 4, 12, 5, 6, 5, 2, 1, 0, 8, 1]

In [5]:
y = set(arr)
op = {}

In [6]:
for i in y:
    count = 0
    for j in arr:
        if(i==j):
            count+=1
    new={i:count}
    op.update(new)
print("The repeated count is:",op)

The repeated count is: {0: 1, 1: 4, 2: 2, 3: 1, 4: 2, 5: 3, 6: 1, 7: 1, 8: 2, 9: 1, 12: 1}

# 3. Given an object/dictionary, containing names as keys and amount_paid by each of them as
values, write a function that takes such an object as input and calculates the total sum paid by them together.

Below is an example:

Input: {"Rick": 85, "Amit": 42, "George": 53, "Tanya": 60, "Linda": 35}
Output: 275

In [7]:
d = {"Rick": 85, "Amit": 42, "George": 53, "Tanya": 60, "Linda": 35}
x = d.values() #extracting the values from the dictionary
def amt_paid(x):
    y = sum(x)
    print('Amount paid: together',y)
amt_paid(x)

Amount paid: together 275

# 4. Develop a program to calculate the total and individual player scores in a cricket match. 
Input would be an array with the index representing the ball number and the value representing the runs scored of that ball.

Assumptions/Tips:
1.	No Extras bowled
2.	Batsman has to be rotated after ever over
3.	Bowler can bowl any number of overs
4.	Assume Batsman 1 is on strike for the first ball.


Below is an example:

Input : [1,2,0,0,4,1,6,2,1,3];

Output:
Total Score: 20
Batsman 1 Score : 4 (1 + 3)
Batsman 2 Score : 16 (2 + 4 + 1 + 6 + 2 + 1)

In [8]:
i =[1,2,0,0,4,1,6,2,1,3]

In [9]:
print('Total score:',sum(i))

Total score: 20

In [21]:
len(i)

7

In [16]:
i1 = i[:7]

In [22]:
i2 = i[6:]
i2

[6]